---
---

$fa-font-path: '{{ site.baseurl }}/assets/webfonts';

@import 'conference';

.partner-logos {
    display: flex;
    justify-content: center; /* Centers logos horizontally */
    gap: 20px; /* Adds space between logos */
    flex-wrap: wrap; /* Wraps to next line on smaller screens */
}

.partner-logos img {
    max-height: 40px;
    width: auto;
    
}